<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LightWeather</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
    <!-- <header>Light Weather</header> -->
      <fieldset>
        <form action="/zip" method="post">
          <input name="zip" type="text" class="ghost-input" placeholder="Enter a Zip Code" required>
          <input type="submit" class="ghost-button" value="Get Current Weather">
        </form>
        <form action="/zip_forecast" method="post">
          <input name="zip" type="text" class="ghost-input" placeholder="Enter a Zip Code" required>
          <input type="submit" class="ghost-button" value="Get Weather Forecast">
        </form>
        <% if(weather !== null){ %>
          <p></p>
          <p><%= weather %></p>
          <p><%= date %></p>
          <p><%= coord %></p>
          <p><%= typeof rain != 'undefined' ? rain : '' %>
          <%= typeof snow != 'undefined' ? snow : '' %></p>
          <p><%= desc %></p>
          <p><%= temp %></p>

          <p><%= humidity %></p>
          <p><%= wind %></p>
          <p><%= pressure %></p>
          <p><%= clouds %></p>
          <p><%= sunrise %></p>
          <p><%= sunset %></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <% } %>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
            
      </fieldset>
      <footer>
      weather data provided by <a href="http://openweathermap.org" target="blank">OpenWeatherMap</a>
      </br>
      site by Mike Goldman
      </br> 
      <a href="https://github.com/mikerah13/" target="blank">github</a>
      <a href="https://stackoverflow.com/users/7476635/mikeg" target="blank">stackoverflow</a>
      <a href="https://www.linkedin.com/in/micheal-goldman-69862a22/" target="blank">linkedin</a>
      </br>
      source can be found at <a href="https://github.com/mikerah13/node-weather-app" target="blank">github</a>
    </footer>
    </div>

  </body>
</html>